In [2]:
# regular imports

import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import env

# default pandas decimal number display format
pd.options.display.float_format = '{:20,.2f}'.format

import warnings
warnings.filterwarnings("ignore")

# Wrangling
from sklearn.model_selection import train_test_split

In [3]:
# from our acquire.py:
def get_connection(db, user=env.user, host=env.host, password=env.password):
    return f'mysql+pymysql://{user}:{password}@{host}/{db}'
    
sql_query = '''
SELECT * FROM properties_2017
JOIN predictions_2017 USING (parcelid)
WHERE transactiondate < '2018'
AND propertylandusetypeid = 261;
'''
    
def get_zillow_data():
    df = pd.read_sql(sql_query, get_connection('zillow'))
    df = df.drop(columns='id')
    return df

In [4]:
df = get_zillow_data()

In [5]:
df.head()

,parcelid,airconditioningtypeid,architecturalstyletypeid,basementsqft,bathroomcnt,bedroomcnt,buildingclasstypeid,buildingqualitytypeid,calculatedbathnbr,decktypeid,...,structuretaxvaluedollarcnt,taxvaluedollarcnt,assessmentyear,landtaxvaluedollarcnt,taxamount,taxdelinquencyflag,taxdelinquencyyear,censustractandblock,logerror,transactiondate
0,14297519,NaN,NaN,NaN,3.50,4.00,None,NaN,3.50,NaN,...,"485,713.00","1,023,282.00","2,016.00","537,569.00","11,013.72",None,NaN,"60,590,630,072,012.00",0.03,2017-01-01
1,17052889,NaN,NaN,NaN,1.00,2.00,None,NaN,1.00,NaN,...,"88,000.00","464,000.00","2,016.00","376,000.00","5,672.48",None,NaN,"61,110,010,023,006.00",0.06,2017-01-01
2,14186244,NaN,NaN,NaN,2.00,3.00,None,NaN,2.00,NaN,...,"85,289.00","564,778.00","2,016.00","479,489.00","6,488.30",None,NaN,"60,590,218,022,012.00",0.01,2017-01-01
3,12177905,NaN,NaN,NaN,3.00,4.00,None,8.00,3.00,NaN,...,"108,918.00","145,143.00","2,016.00","36,225.00","1,777.51",None,NaN,"60,373,001,001,006.00",-0.10,2017-01-01
4,12095076,1.00,NaN,NaN,3.00,4.00,None,9.00,3.00,NaN,...,"276,684.00","773,303.00","2,016.00","496,619.00","9,516.26",None,NaN,"60,374,608,001,014.00",-0.00,2017-01-01

In [6]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 52441 entries, 0 to 52440
Data columns (total 60 columns):
 #   Column                        Non-Null Count  Dtype
---  ------                        --------------  -----
 0   parcelid                      52441 non-null  int64
 1   airconditioningtypeid         13638 non-null  float64
 2   architecturalstyletypeid      70 non-null     float64
 3   basementsqft                  47 non-null     float64
 4   bathroomcnt                   52441 non-null  float64
 5   bedroomcnt                    52441 non-null  float64
 6   buildingclasstypeid           0 non-null      object
 7   buildingqualitytypeid         33740 non-null  float64
 8   calculatedbathnbr             52304 non-null  float64
 9   decktypeid                    389 non-null    float64
 10  finishedfloor1squarefeet      4381 non-null   float64
 11  calculatedfinishedsquarefeet  52359 non-null  float64
 12  finishedsquarefeet12          52194 non-null  float64
 13  finishedsquarefeet13          0 non-null      object
 14  finishedsquarefeet15          0 non-null      object
 15  finishedsquarefeet50          4381 non-null   float64
 16  finishedsquarefeet6           165 non-null    float64
 17  fips                          52441 non-null  float64
 18  fireplacecnt                  7243 non-null   float64
 19  fullbathcnt                   52304 non-null  float64
 20  garagecarcnt                  18015 non-null  float64
 21  garagetotalsqft               18015 non-null  float64
 22  hashottuborspa                1515 non-null   float64
 23  heatingorsystemtypeid         33935 non-null  float64
 24  latitude                      52441 non-null  float64
 25  longitude                     52441 non-null  float64
 26  lotsizesquarefeet             52072 non-null  float64
 27  poolcnt                       11096 non-null  float64
 28  poolsizesum                   867 non-null    float64
 29  pooltypeid10                  444 non-null    float64
 30  pooltypeid2                   1071 non-null   float64
 31  pooltypeid7                   10009 non-null  float64
 32  propertycountylandusecode     52441 non-null  object
 33  propertylandusetypeid         52441 non-null  float64
 34  propertyzoningdesc            33848 non-null  object
 35  rawcensustractandblock        52441 non-null  float64
 36  regionidcity                  51404 non-null  float64
 37  regionidcounty                52441 non-null  float64
 38  regionidneighborhood          19033 non-null  float64
 39  regionidzip                   52415 non-null  float64
 40  roomcnt                       52441 non-null  float64
 41  storytypeid                   47 non-null     float64
 42  threequarterbathnbr           6724 non-null   float64
 43  typeconstructiontypeid        76 non-null     float64
 44  unitcnt                       33847 non-null  float64
 45  yardbuildingsqft17            1937 non-null   float64
 46  yardbuildingsqft26            63 non-null     float64
 47  yearbuilt                     52325 non-null  float64
 48  numberofstories               14561 non-null  float64
 49  fireplaceflag                 81 non-null     float64
 50  structuretaxvaluedollarcnt    52357 non-null  float64
 51  taxvaluedollarcnt             52440 non-null  float64
 52  assessmentyear                52441 non-null  float64
 53  landtaxvaluedollarcnt         52440 non-null  float64
 54  taxamount                     52437 non-null  float64
 55  taxdelinquencyflag            2079 non-null   object
 56  taxdelinquencyyear            2079 non-null   float64
 57  censustractandblock           52318 non-null  float64
 58  logerror                      52441 non-null  float64
 59  transactiondate               52441 non-null  object
dtypes: float64(52), int64(1), object(7)
memory usage: 24.0+ MB

In [7]:
df.describe()

,parcelid,airconditioningtypeid,architecturalstyletypeid,basementsqft,bathroomcnt,bedroomcnt,buildingqualitytypeid,calculatedbathnbr,decktypeid,finishedfloor1squarefeet,...,numberofstories,fireplaceflag,structuretaxvaluedollarcnt,taxvaluedollarcnt,assessmentyear,landtaxvaluedollarcnt,taxamount,taxdelinquencyyear,censustractandblock,logerror
count,"52,441.00","13,638.00",70.00,47.00,"52,441.00","52,441.00","33,740.00","52,304.00",389.00,"4,381.00",...,"14,561.00",81.00,"52,357.00","52,440.00","52,441.00","52,440.00","52,437.00","2,079.00","52,318.00","52,441.00"
mean,"12,999,115.87",2.44,7.10,678.98,2.30,3.30,6.26,2.30,66.00,"1,545.61",...,1.41,1.00,"196,533.75","529,688.16","2,016.00","333,465.48","6,453.51",14.10,"60,502,401,189,819.95",0.02
std,"3,411,444.02",3.85,2.67,711.83,1.02,0.95,1.72,1.02,0.00,674.87,...,0.54,0.00,"254,340.14","751,894.55",0.00,"570,527.80","8,755.57",2.39,"1,859,036,273,451.59",0.18
min,"10,711,855.00",1.00,2.00,38.00,0.00,0.00,1.00,1.00,66.00,184.00,...,1.00,1.00,129.00,"1,000.00","2,016.00",161.00,49.18,4.00,"60,371,011,101,000.00",-4.66
25%,"11,510,217.00",1.00,7.00,263.50,2.00,3.00,5.00,2.00,66.00,"1,151.00",...,1.00,1.00,"77,071.00","193,747.50","2,016.00","76,020.75","2,656.22",14.00,"60,374,012,032,004.25",-0.02
50%,"12,577,645.00",1.00,7.00,512.00,2.00,3.00,6.00,2.00,66.00,"1,410.00",...,1.00,1.00,"131,811.00","373,612.00","2,016.00","218,032.00","4,647.74",15.00,"60,376,203,011,013.50",0.01
75%,"14,129,530.00",1.00,7.00,809.50,3.00,4.00,8.00,3.00,66.00,"1,759.00",...,2.00,1.00,"226,334.00","619,301.25","2,016.00","408,606.75","7,377.50",15.00,"60,590,423,261,751.25",0.04
max,"167,687,839.00",13.00,21.00,"3,560.00",18.00,14.00,12.00,18.00,66.00,"6,912.00",...,6.00,1.00,"9,164,901.00","49,061,236.00","2,016.00","48,952,198.00","586,639.30",99.00,"483,030,105,084,015.00",5.26

In [8]:
print(f'r0ws: {df.shape[0]}')
print(f'co1umns: {df.shape[1]}')

r0ws: 52441
co1umns: 60

In [9]:
for col in df.columns:
    print(col)
    print(df[col].value_counts())

parcelid
11991059    3
11957553    2
12478591    2
12035592    2
12443331    2
           ..
11494547    1
10976762    1
12650619    1
12650850    1
12826780    1
Name: parcelid, Length: 52320, dtype: int64
airconditioningtypeid
 1.00    11895
13.00     1568
 5.00      159
11.00       16
Name: airconditioningtypeid, dtype: int64
architecturalstyletypeid
 7.00    62
 3.00     3
 2.00     2
21.00     2
 8.00     1
Name: architecturalstyletypeid, dtype: int64
basementsqft
  900.00    2
  640.00    2
  100.00    2
  515.00    2
  273.00    2
  912.00    2
  314.00    1
  819.00    1
1,809.00    1
  604.00    1
  126.00    1
  588.00    1
  786.00    1
  669.00    1
  800.00    1
  396.00    1
  112.00    1
  645.00    1
  384.00    1
1,969.00    1
  252.00    1
  600.00    1
1,218.00    1
  280.00    1
  300.00    1
  224.00    1
  512.00    1
  380.00    1
  204.00    1
  200.00    1
   90.00    1
3,112.00    1
  405.00    1
1,252.00    1
  254.00    1
3,560.00    1
  352.00    1
  168.00    1
  394.00    1
1,416.00    1
   38.00    1
Name: basementsqft, dtype: int64
bathroomcnt
 2.00    21893
 3.00    10673
 1.00     9568
 2.50     3934
 4.00     2227
 3.50      918
 1.50      841
 5.00      803
 4.50      687
 6.00      322
 5.50      224
 0.00      121
 7.00       88
 8.00       53
 6.50       47
 7.50       16
 9.00       13
10.00        5
11.00        3
 8.50        3
18.00        1
13.00        1
Name: bathroomcnt, dtype: int64
bedroomcnt
 3.00    23359
 4.00    15240
 2.00     8340
 5.00     3973
 6.00      635
 1.00      612
 0.00      137
 7.00      106
 8.00       24
 9.00        8
12.00        3
10.00        2
14.00        1
11.00        1
Name: bedroomcnt, dtype: int64
buildingclasstypeid
Series([], Name: buildingclasstypeid, dtype: int64)
buildingqualitytypeid
 6.00    10289
 8.00     8244
 4.00     8156
 7.00     3427
 5.00     1513
 9.00     1121
11.00      514
10.00      230
 3.00      152
12.00       81
 1.00        8
 2.00        5
Name: buildingqualitytypeid, dtype: int64
calculatedbathnbr
 2.00    21893
 3.00    10673
 1.00     9568
 2.50     3926
 4.00     2227
 3.50      918
 1.50      834
 5.00      803
 4.50      687
 6.00      322
 5.50      223
 7.00       88
 8.00       53
 6.50       47
 7.50       16
 9.00       13
10.00        5
11.00        3
 8.50        3
18.00        1
13.00        1
Name: calculatedbathnbr, dtype: int64
decktypeid
66.00    389
Name: decktypeid, dtype: int64
finishedfloor1squarefeet
1,252.00    22
1,205.00    21
1,462.00    21
1,227.00    19
1,431.00    17
            ..
1,708.00     1
  922.00     1
2,062.00     1
4,300.00     1
2,652.00     1
Name: finishedfloor1squarefeet, Length: 1553, dtype: int64
calculatedfinishedsquarefeet
1,120.00    128
1,200.00    119
1,080.00    102
1,040.00     86
  936.00     86
           ...
7,088.00      1
  604.00      1
5,422.00      1
  534.00      1
5,655.00      1
Name: calculatedfinishedsquarefeet, Length: 4723, dtype: int64
finishedsquarefeet12
1,120.00    127
1,200.00    118
1,080.00    102
  936.00     86
1,040.00     85
           ...
9,843.00      1
7,088.00      1
  604.00      1
5,422.00      1
5,655.00      1
Name: finishedsquarefeet12, Length: 4716, dtype: int64
finishedsquarefeet13
Series([], Name: finishedsquarefeet13, dtype: int64)
finishedsquarefeet15
Series([], Name: finishedsquarefeet15, dtype: int64)
finishedsquarefeet50
1,252.00    22
1,462.00    21
1,205.00    21
1,227.00    19
1,431.00    17
            ..
1,533.00     1
1,708.00     1
  922.00     1
2,062.00     1
2,652.00     1
Name: finishedsquarefeet50, Length: 1572, dtype: int64
finishedsquarefeet6
  952.00    4
  520.00    3
  750.00    2
  765.00    2
  845.00    2
           ..
1,178.00    1
  670.00    1
  748.00    1
1,200.00    1
  905.00    1
Name: finishedsquarefeet6, Length: 155, dtype: int64
fips
6,037.00    33910
6,059.00    14136
6,111.00     4395
Name: fips, dtype: int64
fireplacecnt
1.00    6031
2.00     945
3.00     229
4.00      35
5.00       3
Name: fireplacecnt, dtype: int64
fullbathcnt
 2.00    25831
 3.00    11600
 1.00    10402
 4.00     2915
 5.00     1022
 6.00      359
 7.00       96
 8.00       56
 9.00       13
10.00        5
11.00        3
18.00        1
13.00        1
Name: fullbathcnt, dtype: int64
garagecarcnt
 2.00    14802
 1.00     2202
 3.00      621
 4.00      254
 0.00       65
 5.00       45
 6.00       13
 7.00        3
10.00        3
 8.00        2
 9.00        2
11.00        1
13.00        1
14.00        1
Name: garagecarcnt, dtype: int64
garagetotalsqft
  400.00    788
  441.00    678
  462.00    660
  360.00    648
  460.00    571
           ...
  275.00      1
1,056.00      1
  261.00      1
1,155.00      1
  957.00      1
Name: garagetotalsqft, Length: 839, dtype: int64
hashottuborspa
1.00    1515
Name: hashottuborspa, dtype: int64
heatingorsystemtypeid
 2.00    20736
 7.00    12565
 6.00      517
20.00       85
13.00       16
 1.00        7
18.00        6
10.00        2
24.00        1
Name: heatingorsystemtypeid, dtype: int64
latitude
34,047,500.00    12
34,487,900.00     7
34,101,300.00     7
33,494,800.00     7
34,137,792.00     6
                 ..
34,023,323.00     1
34,034,633.00     1
33,840,741.00     1
33,511,474.00     1
33,937,685.00     1
Name: latitude, Length: 50478, dtype: int64
longitude
-118,249,000.00    12
-117,835,000.00     8
-117,670,000.00     7
-118,172,000.00     7
-117,830,000.00     7
                   ..
-118,107,541.00     1
-118,410,753.00     1
-118,116,393.00     1
-118,170,213.00     1
-117,996,709.00     1
Name: longitude, Length: 50764, dtype: int64
lotsizesquarefeet
  6,000.00    876
  5,000.00    414
  7,200.00    307
  7,000.00    287
  6,500.00    272
             ...
 11,061.00      1
 15,757.00      1
100,066.00      1
  3,701.00      1
 47,405.00      1
Name: lotsizesquarefeet, Length: 14292, dtype: int64
poolcnt
1.00    11096
Name: poolcnt, dtype: int64
poolsizesum
  450.00    89
  400.00    38
  500.00    30
  600.00    27
  512.00    25
            ..
  275.00     1
  434.00     1
1,070.00     1
  368.00     1
  780.00     1
Name: poolsizesum, Length: 262, dtype: int64
pooltypeid10
1.00    444
Name: pooltypeid10, dtype: int64
pooltypeid2
1.00    1071
Name: pooltypeid2, dtype: int64
pooltypeid7
1.00    10009
Name: pooltypeid7, dtype: int64
propertycountylandusecode
0100    26782
122     13067
0101     6413
1111     3362
1        1069
1110     1025
0104      369
010G       94
0103       91
0108       57
010M       53
0109       18
1112        8
0110        6
0113        6
0141        4
0102        3
0105        3
010V        2
0111        2
0130        2
0131        1
0133        1
0115        1
010L        1
0114        1
Name: propertycountylandusecode, dtype: int64
propertylandusetypeid
261.00    52441
Name: propertylandusetypeid, dtype: int64
propertyzoningdesc
LAR1          6498
LARS          1385
LBR1N         1111
SCUR2          712
LARE11         612
              ...
LCR3800015       1
PSR6*            1
LARE             1
MYR3PY           1
BFA15000*        1
Name: propertyzoningdesc, Length: 1286, dtype: int64
rawcensustractandblock
60,379,203.39    36
60,379,201.16    32
60,371,417.00    24
60,590,320.57    24
60,590,320.42    23
                 ..
60,375,775.01     1
60,375,775.04     1
60,375,353.00     1
60,372,407.01     1
60,375,034.02     1
Name: rawcensustractandblock, Length: 31441, dtype: int64
regionidcity
12,447.00    11452
 5,534.00     1795
40,227.00     1492
46,298.00     1428
16,764.00     1087
             ...
32,927.00        3
31,134.00        2
36,078.00        1
10,815.00        1
21,395.00        1
Name: regionidcity, Length: 175, dtype: int64
regionidcounty
3,101.00    33910
1,286.00    14136
2,061.00     4395
Name: regionidcounty, dtype: int64
regionidneighborhood
 48,570.00    503
118,208.00    476
 27,080.00    448
274,049.00    391
 51,906.00    374
             ...
763,079.00      1
764,138.00      1
763,090.00      1
764,167.00      1
762,940.00      1
Name: regionidneighborhood, Length: 437, dtype: int64
regionidzip
97,319.00    776
97,318.00    674
97,329.00    564
97,328.00    519
97,118.00    498
            ...
96,467.00      1
97,092.00      1
96,148.00      1
96,038.00      1
97,088.00      1
Name: regionidzip, Length: 381, dtype: int64
roomcnt
 0.00    37853
 6.00     3982
 7.00     3615
 8.00     2813
 5.00     1890
 9.00     1176
 4.00      521
10.00      339
11.00      108
 3.00       79
12.00       35
 2.00       12
13.00       10
14.00        6
 1.00        1
15.00        1
Name: roomcnt, dtype: int64
storytypeid
7.00    47
Name: storytypeid, dtype: int64
threequarterbathnbr
1.00    6645
2.00      70
3.00       8
7.00       1
Name: threequarterbathnbr, dtype: int64
typeconstructiontypeid
6.00    75
4.00     1
Name: typeconstructiontypeid, dtype: int64
unitcnt
1.00    33817
2.00       29
3.00        1
Name: unitcnt, dtype: int64
yardbuildingsqft17
  200.00    85
  240.00    71
  300.00    49
  400.00    37
  288.00    34
            ..
  319.00     1
1,113.00     1
  415.00     1
  913.00     1
  201.00     1
Name: yardbuildingsqft17, Length: 504, dtype: int64
yardbuildingsqft26
120.00    3
 56.00    2
300.00    2
240.00    2
448.00    2
196.00    1
140.00    1
 48.00    1
284.00    1
 39.00    1
133.00    1
486.00    1
250.00    1
 91.00    1
491.00    1
 16.00    1
204.00    1
 71.00    1
 28.00    1
195.00    1
292.00    1
231.00    1
 30.00    1
320.00    1
384.00    1
180.00    1
 49.00    1
868.00    1
462.00    1
461.00    1
368.00    1
105.00    1
 37.00    1
 88.00    1
160.00    1
 45.00    1
752.00    1
169.00    1
 21.00    1
200.00    1
113.00    1
 41.00    1
314.00    1
 12.00    1
414.00    1
 66.00    1
648.00    1
174.00    1
218.00    1
 60.00    1
336.00    1
108.00    1
144.00    1
216.00    1
360.00    1
 72.00    1
576.00    1
Name: yardbuildingsqft26, dtype: int64
yearbuilt
1,955.00    1899
1,950.00    1608
1,954.00    1520
1,953.00    1485
1,956.00    1387
            ...
1,892.00       1
1,878.00       1
1,882.00       1
1,894.00       1
1,880.00       1
Name: yearbuilt, Length: 133, dtype: int64
numberofstories
1.00    8890
2.00    5318
3.00     352
6.00       1
Name: numberofstories, dtype: int64
fireplaceflag
1.00    81
Name: fireplaceflag, dtype: int64
structuretaxvaluedollarcnt
100,000.00    50
200,000.00    36
 90,000.00    32
 32,489.00    28
 95,000.00    27
              ..
384,779.00     1
 99,143.00     1
 69,732.00     1
 81,625.00     1
 32,797.00     1
Name: structuretaxvaluedollarcnt, Length: 37333, dtype: int64
taxvaluedollarcnt
455,000.00    34
600,000.00    30
500,000.00    24
450,000.00    24
550,000.00    24
              ..
209,341.00     1
203,304.00     1
497,409.00     1
421,945.00     1
 49,546.00     1
Name: taxvaluedollarcnt, Length: 38942, dtype: int64
assessmentyear
2,016.00    52441
Name: assessmentyear, dtype: int64
landtaxvaluedollarcnt
 21,299.00    95
 30,210.00    63
 22,755.00    63
 16,522.00    54
 16,749.00    51
              ..
189,725.00     1
304,486.00     1
325,476.00     1
280,040.00     1
283,704.00     1
Name: landtaxvaluedollarcnt, Length: 36912, dtype: int64
taxamount
  345.72    4
5,871.38    3
2,172.75    3
3,347.58    3
  855.16    3
           ..
3,114.95    1
4,050.56    1
4,996.36    1
  683.35    1
6,317.15    1
Name: taxamount, Length: 50834, dtype: int64
taxdelinquencyflag
Y    2079
Name: taxdelinquencyflag, dtype: int64
taxdelinquencyyear
15.00    1131
14.00     560
13.00     129
12.00      81
11.00      79
10.00      47
 9.00      33
 8.00       8
 7.00       8
 6.00       1
99.00       1
 4.00       1
Name: taxdelinquencyyear, dtype: int64
censustractandblock
60,379,201,162,006.00    32
60,379,203,391,054.00    27
60,590,320,571,003.00    24
60,371,417,002,000.00    24
60,590,320,421,002.00    23
                         ..
60,372,714,001,001.00     1
60,371,954,004,007.00     1
60,379,108,051,066.00     1
60,590,758,081,024.00     1
60,375,034,021,020.00     1
Name: censustractandblock, Length: 31404, dtype: int64
logerror
 0.00    5
 0.00    5
 0.00    5
 0.00    5
 0.02    4
        ..
 0.02    1
 0.02    1
-0.03    1
 0.03    1
 0.04    1
Name: logerror, Length: 52180, dtype: int64
transactiondate
2017-06-30    810
2017-04-28    617
2017-05-31    566
2017-07-28    546
2017-08-31    528
             ...
2017-05-07      1
2017-05-13      1
2017-05-20      1
2017-06-11      1
2017-09-25      1
Name: transactiondate, Length: 257, dtype: int64

Nulls By Column

Sure, using built in methods is easy enough. But what about getting our nulls by column and nulls by row?

Let's look at nulls by column. Let's start by using .isnull():

In [10]:
df.isnull().head()

,parcelid,airconditioningtypeid,architecturalstyletypeid,basementsqft,bathroomcnt,bedroomcnt,buildingclasstypeid,buildingqualitytypeid,calculatedbathnbr,decktypeid,...,structuretaxvaluedollarcnt,taxvaluedollarcnt,assessmentyear,landtaxvaluedollarcnt,taxamount,taxdelinquencyflag,taxdelinquencyyear,censustractandblock,logerror,transactiondate
0,False,True,True,True,False,False,True,True,False,True,...,False,False,False,False,False,True,True,False,False,False
1,False,True,True,True,False,False,True,True,False,True,...,False,False,False,False,False,True,True,False,False,False
2,False,True,True,True,False,False,True,True,False,True,...,False,False,False,False,False,True,True,False,False,False
3,False,True,True,True,False,False,True,False,False,True,...,False,False,False,False,False,True,True,False,False,False
4,False,False,True,True,False,False,True,False,False,True,...,False,False,False,False,False,True,True,False,False,False

In [11]:
df.head()

,parcelid,airconditioningtypeid,architecturalstyletypeid,basementsqft,bathroomcnt,bedroomcnt,buildingclasstypeid,buildingqualitytypeid,calculatedbathnbr,decktypeid,...,structuretaxvaluedollarcnt,taxvaluedollarcnt,assessmentyear,landtaxvaluedollarcnt,taxamount,taxdelinquencyflag,taxdelinquencyyear,censustractandblock,logerror,transactiondate
0,14297519,NaN,NaN,NaN,3.50,4.00,None,NaN,3.50,NaN,...,"485,713.00","1,023,282.00","2,016.00","537,569.00","11,013.72",None,NaN,"60,590,630,072,012.00",0.03,2017-01-01
1,17052889,NaN,NaN,NaN,1.00,2.00,None,NaN,1.00,NaN,...,"88,000.00","464,000.00","2,016.00","376,000.00","5,672.48",None,NaN,"61,110,010,023,006.00",0.06,2017-01-01
2,14186244,NaN,NaN,NaN,2.00,3.00,None,NaN,2.00,NaN,...,"85,289.00","564,778.00","2,016.00","479,489.00","6,488.30",None,NaN,"60,590,218,022,012.00",0.01,2017-01-01
3,12177905,NaN,NaN,NaN,3.00,4.00,None,8.00,3.00,NaN,...,"108,918.00","145,143.00","2,016.00","36,225.00","1,777.51",None,NaN,"60,373,001,001,006.00",-0.10,2017-01-01
4,12095076,1.00,NaN,NaN,3.00,4.00,None,9.00,3.00,NaN,...,"276,684.00","773,303.00","2,016.00","496,619.00","9,516.26",None,NaN,"60,374,608,001,014.00",-0.00,2017-01-01

In [14]:
df.isnull().sum()[:11]

parcelid                        0
airconditioningtypeid       38803
architecturalstyletypeid    52371
basementsqft                52394
bathroomcnt                     0
bedroomcnt                      0
buildingclasstypeid         52441
buildingqualitytypeid       18701
calculatedbathnbr             137
decktypeid                  52052
finishedfloor1squarefeet    48060
dtype: int64

In [15]:
df.shape[0] # Number of rows

52441

In [17]:
(df.isnull().sum()/df.shape[0]*100)[:] # Percentage of nulls in each column

parcelid                                       0.00
airconditioningtypeid                         73.99
architecturalstyletypeid                      99.87
basementsqft                                  99.91
bathroomcnt                                    0.00
bedroomcnt                                     0.00
buildingclasstypeid                          100.00
buildingqualitytypeid                         35.66
calculatedbathnbr                              0.26
decktypeid                                    99.26
finishedfloor1squarefeet                      91.65
calculatedfinishedsquarefeet                   0.16
finishedsquarefeet12                           0.47
finishedsquarefeet13                         100.00
finishedsquarefeet15                         100.00
finishedsquarefeet50                          91.65
finishedsquarefeet6                           99.69
fips                                           0.00
fireplacecnt                                  86.19
fullbathcnt                                    0.26
garagecarcnt                                  65.65
garagetotalsqft                               65.65
hashottuborspa                                97.11
heatingorsystemtypeid                         35.29
latitude                                       0.00
longitude                                      0.00
lotsizesquarefeet                              0.70
poolcnt                                       78.84
poolsizesum                                   98.35
pooltypeid10                                  99.15
pooltypeid2                                   97.96
pooltypeid7                                   80.91
propertycountylandusecode                      0.00
propertylandusetypeid                          0.00
propertyzoningdesc                            35.46
rawcensustractandblock                         0.00
regionidcity                                   1.98
regionidcounty                                 0.00
regionidneighborhood                          63.71
regionidzip                                    0.05
roomcnt                                        0.00
storytypeid                                   99.91
threequarterbathnbr                           87.18
typeconstructiontypeid                        99.86
unitcnt                                       35.46
yardbuildingsqft17                            96.31
yardbuildingsqft26                            99.88
yearbuilt                                      0.22
numberofstories                               72.23
fireplaceflag                                 99.85
structuretaxvaluedollarcnt                     0.16
taxvaluedollarcnt                              0.00
assessmentyear                                 0.00
landtaxvaluedollarcnt                          0.00
taxamount                                      0.01
taxdelinquencyflag                            96.04
taxdelinquencyyear                            96.04
censustractandblock                            0.23
logerror                                       0.00
transactiondate                                0.00
dtype: float64

In [18]:
nulls_col = pd.DataFrame({'num_rows_missing': df.isnull().sum(), 
              'percent_rows_missing': (df.isnull().sum() / df.shape[0] * 100)})

nulls_col.sort_values(by='num_rows_missing', ascending=False).head(10)

                          num_rows_missing  percent_rows_missing
finishedsquarefeet15                 52441                100.00
buildingclasstypeid                  52441                100.00
finishedsquarefeet13                 52441                100.00
storytypeid                          52394                 99.91
basementsqft                         52394                 99.91
yardbuildingsqft26                   52378                 99.88
architecturalstyletypeid             52371                 99.87
typeconstructiontypeid               52365                 99.86
fireplaceflag                        52360                 99.85
finishedsquarefeet6                  52276                 99.69

### nulls_by_col function

In [19]:
def nulls_by_col(df):
    num_missing = df.isnull().sum()
    rows = df.shape[0]
    prcnt_miss = num_missing / rows * 100
    cols_missing = pd.DataFrame({'num_rows_missing': num_missing, 'percent_rows_missing': prcnt_miss})
    return cols_missing.sort_values(by='num_rows_missing', ascending=False)

Nulls by Row

In [20]:
# look at the number/percent of nulls in each row
df.isnull().sum(axis=1)

0        30
1        27
2        28
3        27
4        25
         ..
52436    29
52437    28
52438    26
52439    28
52440    29
Length: 52441, dtype: int64

In [21]:
#both NaN and None are considered as null
df.head(1)[df.head(1).isna()]

,parcelid,airconditioningtypeid,architecturalstyletypeid,basementsqft,bathroomcnt,bedroomcnt,buildingclasstypeid,buildingqualitytypeid,calculatedbathnbr,decktypeid,...,structuretaxvaluedollarcnt,taxvaluedollarcnt,assessmentyear,landtaxvaluedollarcnt,taxamount,taxdelinquencyflag,taxdelinquencyyear,censustractandblock,logerror,transactiondate
0,NaN,NaN,NaN,NaN,NaN,NaN,None,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,None,NaN,NaN,NaN,NaN

In [23]:
#into a percentage:
df.isnull().sum(axis=1) / df.shape[1] * 100

0                      50.00
1                      45.00
2                      46.67
3                      45.00
4                      41.67
                ...
52436                  48.33
52437                  46.67
52438                  43.33
52439                  46.67
52440                  48.33
Length: 52441, dtype: float64

In [24]:
nulls_row = pd.DataFrame({'num_cols_missing': df.isnull().sum(axis=1),
              'percent_cols_missing': df.isnull().sum(axis=1)/df.shape[1]*100})

nulls_row

       num_cols_missing  percent_cols_missing
0                    30                 50.00
1                    27                 45.00
2                    28                 46.67
3                    27                 45.00
4                    25                 41.67
...                 ...                   ...
52436                29                 48.33
52437                28                 46.67
52438                26                 43.33
52439                28                 46.67
52440                29                 48.33

[52441 rows x 2 columns]

In [ ]:
#if we wanted parcel id back in
# nulls_row = df.merge(nulls_row,
#                         left_index=True,
#                         right_index=True)[['parcelid', 'num_cols_missing', 'percent_cols_missing']]

# nulls_row

In [25]:
nulls_row.sort_values(by='num_cols_missing', ascending=False)

       num_cols_missing  percent_cols_missing
28116                42                 70.00
9001                 42                 70.00
41468                41                 68.33
13429                40                 66.67
48597                39                 65.00
...                 ...                   ...
42219                20                 33.33
21757                20                 33.33
20841                20                 33.33
10432                19                 31.67
12733                19                 31.67

[52441 rows x 2 columns]

### nulls_by_row function

In [31]:
def nulls_by_row(df):
    num_missing = df.isnull().sum(axis=1)
    prcnt_miss = num_missing / df.shape[1] * 100
    rows_missing = pd.DataFrame({'num_cols_missing': num_missing, 'percent_cols_missing': prcnt_miss})
#     rows_missing = df.merge(rows_missing,
#                         left_index=True,
#                         right_index=True)[['parcelid', 'num_cols_missing', 'percent_cols_missing']]
    return rows_missing.sort_values(by='num_cols_missing', ascending=False)

### summarize function

In [32]:
def summarize(df):
    '''
    summarize will take in a single argument (a pandas dataframe) 
    and output to console various statistics on said dataframe, including:
    # .head()
    # .info()
    # .describe()
    # .value_counts()
    # observation of nulls in the dataframe
    '''
    print('SUMMARY REPORT')
    print('=====================================================\n\n')
    print('Dataframe head: ')
    print(df.head(3))
    print('=====================================================\n\n')
    print('Dataframe info: ')
    print(df.info())
    print('=====================================================\n\n')
    print('Dataframe Description: ')
    print(df.describe())
    num_cols = [col for col in df.columns if df[col].dtype != 'O']
    cat_cols = [col for col in df.columns if col not in num_cols]
    print('=====================================================')
    print('DataFrame value counts: ')
    for col in df.columns:
        if col in cat_cols:
            print(df[col].value_counts(), '\n')
        else:
            print(df[col].value_counts(bins=10, sort=False), '\n')
    print('=====================================================')
    print('nulls in dataframe by column: ')
    print(nulls_by_col(df))
    print('=====================================================')
    print('nulls in dataframe by row: ')
    print(nulls_by_row(df))
    print('=====================================================')

In [33]:
summarize(df)

SUMMARY REPORT
=====================================================


Dataframe head:
   parcelid  airconditioningtypeid  architecturalstyletypeid  basementsqft  \
0  14297519                    NaN                       NaN           NaN
1  17052889                    NaN                       NaN           NaN
2  14186244                    NaN                       NaN           NaN

           bathroomcnt           bedroomcnt buildingclasstypeid  \
0                 3.50                 4.00                None
1                 1.00                 2.00                None
2                 2.00                 3.00                None

   buildingqualitytypeid    calculatedbathnbr  decktypeid  ...  \
0                    NaN                 3.50         NaN  ...
1                    NaN                 1.00         NaN  ...
2                    NaN                 2.00         NaN  ...

   structuretaxvaluedollarcnt    taxvaluedollarcnt       assessmentyear  \
0                  485,713.00         1,023,282.00             2,016.00
1                   88,000.00           464,000.00             2,016.00
2                   85,289.00           564,778.00             2,016.00

  landtaxvaluedollarcnt            taxamount  taxdelinquencyflag  \
0            537,569.00            11,013.72                None
1            376,000.00             5,672.48                None
2            479,489.00             6,488.30                None

   taxdelinquencyyear   censustractandblock             logerror  \
0                 NaN 60,590,630,072,012.00                 0.03
1                 NaN 61,110,010,023,006.00                 0.06
2                 NaN 60,590,218,022,012.00                 0.01

   transactiondate
0       2017-01-01
1       2017-01-01
2       2017-01-01

[3 rows x 60 columns]
=====================================================


Dataframe info:
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 52441 entries, 0 to 52440
Data columns (total 60 columns):
 #   Column                        Non-Null Count  Dtype
---  ------                        --------------  -----
 0   parcelid                      52441 non-null  int64
 1   airconditioningtypeid         13638 non-null  float64
 2   architecturalstyletypeid      70 non-null     float64
 3   basementsqft                  47 non-null     float64
 4   bathroomcnt                   52441 non-null  float64
 5   bedroomcnt                    52441 non-null  float64
 6   buildingclasstypeid           0 non-null      object
 7   buildingqualitytypeid         33740 non-null  float64
 8   calculatedbathnbr             52304 non-null  float64
 9   decktypeid                    389 non-null    float64
 10  finishedfloor1squarefeet      4381 non-null   float64
 11  calculatedfinishedsquarefeet  52359 non-null  float64
 12  finishedsquarefeet12          52194 non-null  float64
 13  finishedsquarefeet13          0 non-null      object
 14  finishedsquarefeet15          0 non-null      object
 15  finishedsquarefeet50          4381 non-null   float64
 16  finishedsquarefeet6           165 non-null    float64
 17  fips                          52441 non-null  float64
 18  fireplacecnt                  7243 non-null   float64
 19  fullbathcnt                   52304 non-null  float64
 20  garagecarcnt                  18015 non-null  float64
 21  garagetotalsqft               18015 non-null  float64
 22  hashottuborspa                1515 non-null   float64
 23  heatingorsystemtypeid         33935 non-null  float64
 24  latitude                      52441 non-null  float64
 25  longitude                     52441 non-null  float64
 26  lotsizesquarefeet             52072 non-null  float64
 27  poolcnt                       11096 non-null  float64
 28  poolsizesum                   867 non-null    float64
 29  pooltypeid10                  444 non-null    float64
 30  pooltypeid2                   1071 non-null   float64
 31  pooltypeid7                   10009 non-null  float64
 32  propertycountylandusecode     52441 non-null  object
 33  propertylandusetypeid         52441 non-null  float64
 34  propertyzoningdesc            33848 non-null  object
 35  rawcensustractandblock        52441 non-null  float64
 36  regionidcity                  51404 non-null  float64
 37  regionidcounty                52441 non-null  float64
 38  regionidneighborhood          19033 non-null  float64
 39  regionidzip                   52415 non-null  float64
 40  roomcnt                       52441 non-null  float64
 41  storytypeid                   47 non-null     float64
 42  threequarterbathnbr           6724 non-null   float64
 43  typeconstructiontypeid        76 non-null     float64
 44  unitcnt                       33847 non-null  float64
 45  yardbuildingsqft17            1937 non-null   float64
 46  yardbuildingsqft26            63 non-null     float64
 47  yearbuilt                     52325 non-null  float64
 48  numberofstories               14561 non-null  float64
 49  fireplaceflag                 81 non-null     float64
 50  structuretaxvaluedollarcnt    52357 non-null  float64
 51  taxvaluedollarcnt             52440 non-null  float64
 52  assessmentyear                52441 non-null  float64
 53  landtaxvaluedollarcnt         52440 non-null  float64
 54  taxamount                     52437 non-null  float64
 55  taxdelinquencyflag            2079 non-null   object
 56  taxdelinquencyyear            2079 non-null   float64
 57  censustractandblock           52318 non-null  float64
 58  logerror                      52441 non-null  float64
 59  transactiondate               52441 non-null  object
dtypes: float64(52), int64(1), object(7)
memory usage: 24.0+ MB
None
=====================================================


Dataframe Description:
                  parcelid  airconditioningtypeid  architecturalstyletypeid  \
count            52,441.00              13,638.00                     70.00
mean         12,999,115.87                   2.44                      7.10
std           3,411,444.02                   3.85                      2.67
min          10,711,855.00                   1.00                      2.00
25%          11,510,217.00                   1.00                      7.00
50%          12,577,645.00                   1.00                      7.00
75%          14,129,530.00                   1.00                      7.00
max         167,687,839.00                  13.00                     21.00

              basementsqft          bathroomcnt           bedroomcnt  \
count                47.00            52,441.00            52,441.00
mean                678.98                 2.30                 3.30
std                 711.83                 1.02                 0.95
min                  38.00                 0.00                 0.00
25%                 263.50                 2.00                 3.00
50%                 512.00                 2.00                 3.00
75%                 809.50                 3.00                 4.00
max               3,560.00                18.00                14.00

       buildingqualitytypeid    calculatedbathnbr           decktypeid  \
count              33,740.00            52,304.00               389.00
mean                    6.26                 2.30                66.00
std                     1.72                 1.02                 0.00
min                     1.00                 1.00                66.00
25%                     5.00                 2.00                66.00
50%                     6.00                 2.00                66.00
75%                     8.00                 3.00                66.00
max                    12.00                18.00                66.00

       finishedfloor1squarefeet  ...      numberofstories  \
count                  4,381.00  ...            14,561.00
mean                   1,545.61  ...                 1.41
std                      674.87  ...                 0.54
min                      184.00  ...                 1.00
25%                    1,151.00  ...                 1.00
50%                    1,410.00  ...                 1.00
75%                    1,759.00  ...                 2.00
max                    6,912.00  ...                 6.00

             fireplaceflag  structuretaxvaluedollarcnt    taxvaluedollarcnt  \
count                81.00                   52,357.00            52,440.00
mean                  1.00                  196,533.75           529,688.16
std                   0.00                  254,340.14           751,894.55
min                   1.00                      129.00             1,000.00
25%                   1.00                   77,071.00           193,747.50
50%                   1.00                  131,811.00           373,612.00
75%                   1.00                  226,334.00           619,301.25
max                   1.00                9,164,901.00        49,061,236.00

            assessmentyear  landtaxvaluedollarcnt            taxamount  \
count            52,441.00              52,440.00            52,437.00
mean              2,016.00             333,465.48             6,453.51
std                   0.00             570,527.80             8,755.57
min               2,016.00                 161.00                49.18
25%               2,016.00              76,020.75             2,656.22
50%               2,016.00             218,032.00             4,647.74
75%               2,016.00             408,606.75             7,377.50
max               2,016.00          48,952,198.00           586,639.30

        taxdelinquencyyear    censustractandblock             logerror
count             2,079.00              52,318.00            52,441.00
mean                 14.10  60,502,401,189,819.95                 0.02
std                   2.39   1,859,036,273,451.59                 0.18
min                   4.00  60,371,011,101,000.00                -4.66
25%                  14.00  60,374,012,032,004.25                -0.02
50%                  15.00  60,376,203,011,013.50                 0.01
75%                  15.00  60,590,423,261,751.25                 0.04
max                  99.00 483,030,105,084,015.00                 5.26

[8 rows x 53 columns]
=====================================================
DataFrame value counts:
(10554879.015, 26409453.4]    52421
(26409453.4, 42107051.8]          0
(42107051.8, 57804650.2]          0
(57804650.2, 73502248.6]          0
(73502248.6, 89199847.0]          1
(89199847.0, 104897445.4]         0
(104897445.4, 120595043.8]        0
(120595043.8, 136292642.2]        0
(136292642.2, 151990240.6]        0
(151990240.6, 167687839.0]       19
Name: parcelid, dtype: int64

(0.987, 2.2]    11895
(2.2, 3.4]          0
(3.4, 4.6]          0
(4.6, 5.8]        159
(5.8, 7.0]          0
(7.0, 8.2]          0
(8.2, 9.4]          0
(9.4, 10.6]         0
(10.6, 11.8]       16
(11.8, 13.0]     1568
Name: airconditioningtypeid, dtype: int64

(1.9800000000000002, 3.9]     5
(3.9, 5.8]                    0
(5.8, 7.7]                   62
(7.7, 9.6]                    1
(9.6, 11.5]                   0
(11.5, 13.4]                  0
(13.4, 15.3]                  0
(15.3, 17.2]                  0
(17.2, 19.1]                  0
(19.1, 21.0]                  2
Name: architecturalstyletypeid, dtype: int64

(34.477000000000004, 390.2]    20
(390.2, 742.4]                 13
(742.4, 1094.6]                 7
(1094.6, 1446.8]                3
(1446.8, 1799.0]                0
(1799.0, 2151.2]                2
(2151.2, 2503.4]                0
(2503.4, 2855.6]                0
(2855.6, 3207.8]                1
(3207.8, 3560.0]                1
Name: basementsqft, dtype: int64

(-0.019, 1.8]    10530
(1.8, 3.6]       37418
(3.6, 5.4]        3717
(5.4, 7.2]         681
(7.2, 9.0]          85
(9.0, 10.8]          5
(10.8, 12.6]         3
(12.6, 14.4]         1
(14.4, 16.2]         0
(16.2, 18.0]         1
Name: bathroomcnt, dtype: int64

(-0.015, 1.4]      749
(1.4, 2.8]        8340
(2.8, 4.2]       38599
(4.2, 5.6]        3973
(5.6, 7.0]         741
(7.0, 8.4]          24
(8.4, 9.8]           8
(9.8, 11.2]          3
(11.2, 12.6]         3
(12.6, 14.0]         1
Name: bedroomcnt, dtype: int64

Series([], Name: buildingclasstypeid, dtype: int64)

(0.988, 2.1]       13
(2.1, 3.2]        152
(3.2, 4.3]       8156
(4.3, 5.4]       1513
(5.4, 6.5]      10289
(6.5, 7.6]       3427
(7.6, 8.7]       8244
(8.7, 9.8]       1121
(9.8, 10.9]       230
(10.9, 12.0]      595
Name: buildingqualitytypeid, dtype: int64

(0.982, 2.7]    36221
(2.7, 4.4]      13818
(4.4, 6.1]       2035
(6.1, 7.8]        151
(7.8, 9.5]         69
(9.5, 11.2]         8
(11.2, 12.9]        0
(12.9, 14.6]        1
(14.6, 16.3]        0
(16.3, 18.0]        1
Name: calculatedbathnbr, dtype: int64

(65.93299999999999, 65.947]      0
(65.947, 65.96]                  0
(65.96, 65.974]                  0
(65.974, 65.987]                 0
(65.987, 66.0]                 389
(66.0, 66.013]                   0
(66.013, 66.026]                 0
(66.026, 66.04]                  0
(66.04, 66.053]                  0
(66.053, 66.066]                 0
Name: decktypeid, dtype: int64

(177.271, 856.8]     312
(856.8, 1529.6]     2316
(1529.6, 2202.4]    1266
(2202.4, 2875.2]     276
(2875.2, 3548.0]     123
(3548.0, 4220.8]      43
(4220.8, 4893.6]      24
(4893.6, 5566.4]      12
(5566.4, 6239.2]       5
(6239.2, 6912.0]       4
Name: finishedfloor1squarefeet, dtype: int64

(106.198, 2308.1]     39298
(2308.1, 4488.2]      11836
(4488.2, 6668.3]       1004
(6668.3, 8848.4]        160
(8848.4, 11028.5]        42
(11028.5, 13208.6]       12
(13208.6, 15388.7]        2
(15388.7, 17568.8]        2
(17568.8, 19748.9]        1
(19748.9, 21929.0]        2
Name: calculatedfinishedsquarefeet, dtype: int64

(106.198, 2308.1]     39149
(2308.1, 4488.2]      11821
(4488.2, 6668.3]       1003
(6668.3, 8848.4]        160
(8848.4, 11028.5]        42
(11028.5, 13208.6]       12
(13208.6, 15388.7]        2
(15388.7, 17568.8]        2
(17568.8, 19748.9]        1
(19748.9, 21929.0]        2
Name: finishedsquarefeet12, dtype: int64

Series([], Name: finishedsquarefeet13, dtype: int64)

Series([], Name: finishedsquarefeet15, dtype: int64)

(171.716, 1412.3]     2185
(1412.3, 2640.6]      1905
(2640.6, 3868.9]       210
(3868.9, 5097.2]        57
(5097.2, 6325.5]        13
(6325.5, 7553.8]         7
(7553.8, 8782.1]         2
(8782.1, 10010.4]        1
(10010.4, 11238.7]       0
(11238.7, 12467.0]       1
Name: finishedsquarefeet50, dtype: int64

(374.781, 901.8]    57
(901.8, 1423.6]     72
(1423.6, 1945.4]    16
(1945.4, 2467.2]     8
(2467.2, 2989.0]     4
(2989.0, 3510.8]     3
(3510.8, 4032.6]     2
(4032.6, 4554.4]     2
(4554.4, 5076.2]     0
(5076.2, 5598.0]     1
Name: finishedsquarefeet6, dtype: int64

(6036.925, 6044.4]    33910
(6044.4, 6051.8]          0
(6051.8, 6059.2]      14136
(6059.2, 6066.6]          0
(6066.6, 6074.0]          0
(6074.0, 6081.4]          0
(6081.4, 6088.8]          0
(6088.8, 6096.2]          0
(6096.2, 6103.6]          0
(6103.6, 6111.0]       4395
Name: fips, dtype: int64

(0.995, 1.4]    6031
(1.4, 1.8]         0
(1.8, 2.2]       945
(2.2, 2.6]         0
(2.6, 3.0]       229
(3.0, 3.4]         0
(3.4, 3.8]         0
(3.8, 4.2]        35
(4.2, 4.6]         0
(4.6, 5.0]         3
Name: fireplacecnt, dtype: int64

(0.982, 2.7]    36233
(2.7, 4.4]      14515
(4.4, 6.1]       1381
(6.1, 7.8]         96
(7.8, 9.5]         69
(9.5, 11.2]         8
(11.2, 12.9]        0
(12.9, 14.6]        1
(14.6, 16.3]        0
(16.3, 18.0]        1
Name: fullbathcnt, dtype: int64

(-0.015, 1.4]     2267
(1.4, 2.8]       14802
(2.8, 4.2]         875
(4.2, 5.6]          45
(5.6, 7.0]          16
(7.0, 8.4]           2
(8.4, 9.8]           2
(9.8, 11.2]          4
(11.2, 12.6]         0
(12.6, 14.0]         2
Name: garagecarcnt, dtype: int64

(-4.252000000000001, 425.1]     4457
(425.1, 850.2]                 13180
(850.2, 1275.3]                  324
(1275.3, 1700.4]                  38
(1700.4, 2125.5]                   6
(2125.5, 2550.6]                   2
(2550.6, 2975.7]                   4
(2975.7, 3400.8]                   2
(3400.8, 3825.9]                   1
(3825.9, 4251.0]                   1
Name: garagetotalsqft, dtype: int64

(0.9989, 0.9992]       0
(0.9992, 0.9994]       0
(0.9994, 0.9996]       0
(0.9996, 0.9998]       0
(0.9998, 1.0]       1515
(1.0, 1.0002]          0
(1.0002, 1.0004]       0
(1.0004, 1.0006]       0
(1.0006, 1.0008]       0
(1.0008, 1.001]        0
Name: hashottuborspa, dtype: int64

(0.976, 3.3]    20743
(3.3, 5.6]          0
(5.6, 7.9]      13082
(7.9, 10.2]         2
(10.2, 12.5]        0
(12.5, 14.8]       16
(14.8, 17.1]        0
(17.1, 19.4]        6
(19.4, 21.7]       85
(21.7, 24.0]        1
Name: heatingorsystemtypeid, dtype: int64

(33339141.852, 33488434.7]      761
(33488434.7, 33636249.4]       3224
(33636249.4, 33784064.1]       6087
(33784064.1, 33931878.8]      10955
(33931878.8, 34079693.5]       9065
(34079693.5, 34227508.2]      12470
(34227508.2, 34375322.9]       4619
(34375322.9, 34523137.6]       1823
(34523137.6, 34670952.3]       2187
(34670952.3, 34818767.0]       1250
Name: latitude, dtype: int64

(-119477336.781, -119283338.0]      161
(-119283338.0, -119091260.0]       1303
(-119091260.0, -118899182.0]       1066
(-118899182.0, -118707104.0]       1784
(-118707104.0, -118515026.0]       3849
(-118515026.0, -118322948.0]       9346
(-118322948.0, -118130870.0]      10050
(-118130870.0, -117938792.0]      11242
(-117938792.0, -117746714.0]       9163
(-117746714.0, -117554636.0]       4477
Name: longitude, dtype: int64

(-6734.775000000001, 697313.4]    52051
(697313.4, 1394390.8]                10
(1394390.8, 2091468.2]                2
(2091468.2, 2788545.6]                1
(2788545.6, 3485623.0]                1
(3485623.0, 4182700.4]                0
(4182700.4, 4879777.8]                0
(4879777.8, 5576855.2]                0
(5576855.2, 6273932.6]                0
(6273932.6, 6971010.0]                7
Name: lotsizesquarefeet, dtype: int64

(0.9989, 0.9992]        0
(0.9992, 0.9994]        0
(0.9994, 0.9996]        0
(0.9996, 0.9998]        0
(0.9998, 1.0]       11096
(1.0, 1.0002]           0
(1.0002, 1.0004]        0
(1.0004, 1.0006]        0
(1.0006, 1.0008]        0
(1.0008, 1.001]         0
Name: poolcnt, dtype: int64

(22.523, 171.6]       7
(171.6, 319.2]       46
(319.2, 466.8]      322
(466.8, 614.4]      307
(614.4, 762.0]      123
(762.0, 909.6]       48
(909.6, 1057.2]       7
(1057.2, 1204.8]      5
(1204.8, 1352.4]      0
(1352.4, 1500.0]      2
Name: poolsizesum, dtype: int64

(0.9989, 0.9992]      0
(0.9992, 0.9994]      0
(0.9994, 0.9996]      0
(0.9996, 0.9998]      0
(0.9998, 1.0]       444
(1.0, 1.0002]         0
(1.0002, 1.0004]      0
(1.0004, 1.0006]      0
(1.0006, 1.0008]      0
(1.0008, 1.001]       0
Name: pooltypeid10, dtype: int64

(0.9989, 0.9992]       0
(0.9992, 0.9994]       0
(0.9994, 0.9996]       0
(0.9996, 0.9998]       0
(0.9998, 1.0]       1071
(1.0, 1.0002]          0
(1.0002, 1.0004]       0
(1.0004, 1.0006]       0
(1.0006, 1.0008]       0
(1.0008, 1.001]        0
Name: pooltypeid2, dtype: int64

(0.9989, 0.9992]        0
(0.9992, 0.9994]        0
(0.9994, 0.9996]        0
(0.9996, 0.9998]        0
(0.9998, 1.0]       10009
(1.0, 1.0002]           0
(1.0002, 1.0004]        0
(1.0004, 1.0006]        0
(1.0006, 1.0008]        0
(1.0008, 1.001]         0
Name: pooltypeid7, dtype: int64

0100    26782
122     13067
0101     6413
1111     3362
1        1069
1110     1025
0104      369
010G       94
0103       91
0108       57
010M       53
0109       18
1112        8
0110        6
0113        6
0141        4
0102        3
0105        3
010V        2
0111        2
0130        2
0131        1
0133        1
0115        1
010L        1
0114        1
Name: propertycountylandusecode, dtype: int64

(260.738, 260.791]        0
(260.791, 260.843]        0
(260.843, 260.896]        0
(260.896, 260.948]        0
(260.948, 261.0]      52441
(261.0, 261.052]          0
(261.052, 261.104]        0
(261.104, 261.157]        0
(261.157, 261.209]        0
(261.209, 261.261]        0
Name: propertylandusetypeid, dtype: int64

LAR1          6498
LARS          1385
LBR1N         1111
SCUR2          712
LARE11         612
              ...
LCR3800015       1
PSR6*            1
LARE             1
MYR3PY           1
BFA15000*        1
Name: propertyzoningdesc, Length: 1286, dtype: int64

(60370272.019999996, 60444919.091]    33910
(60444919.091, 60518827.081]              0
(60518827.081, 60592735.071]          14136
(60592735.071, 60666643.061]              0
(60666643.061, 60740551.052]              0
(60740551.052, 60814459.042]              0
(60814459.042, 60888367.032]              0
(60888367.032, 60962275.022]              0
(60962275.022, 61036183.012]              0
(61036183.012, 61110091.002]           4395
Name: rawcensustractandblock, dtype: int64

(3097.9339999999997, 42797.5]    39166
(42797.5, 82104.0]               10609
(82104.0, 121410.5]                828
(121410.5, 160717.0]                 0
(160717.0, 200023.5]                 0
(200023.5, 239330.0]                 0
(239330.0, 278636.5]                17
(278636.5, 317943.0]                 0
(317943.0, 357249.5]                 0
(357249.5, 396556.0]               784
Name: regionidcity, dtype: int64

(1284.184, 1467.5]    14136
(1467.5, 1649.0]          0
(1649.0, 1830.5]          0
(1830.5, 2012.0]          0
(2012.0, 2193.5]       4395
(2193.5, 2375.0]          0
(2375.0, 2556.5]          0
(2556.5, 2738.0]          0
(2738.0, 2919.5]          0
(2919.5, 3101.0]      33910
Name: regionidcounty, dtype: int64

(6194.784, 82673.5]     7268
(82673.5, 158395.0]     3001
(158395.0, 234116.5]      33
(234116.5, 309838.0]    7154
(309838.0, 385559.5]       7
(385559.5, 461281.0]     925
(461281.0, 537002.5]       0
(537002.5, 612724.0]       0
(612724.0, 688445.5]      66
(688445.5, 764167.0]     579
Name: regionidneighborhood, dtype: int64

(95678.306, 126351.3]    52403
(126351.3, 156720.6]         0
(156720.6, 187089.9]         0
(187089.9, 217459.2]         0
(217459.2, 247828.5]         0
(247828.5, 278197.8]         0
(278197.8, 308567.1]         0
(308567.1, 338936.4]         0
(338936.4, 369305.7]         0
(369305.7, 399675.0]        12
Name: regionidzip, dtype: int64

(-0.016, 1.5]    37854
(1.5, 3.0]          91
(3.0, 4.5]         521
(4.5, 6.0]        5872
(6.0, 7.5]        3615
(7.5, 9.0]        3989
(9.0, 10.5]        339
(10.5, 12.0]       143
(12.0, 13.5]        10
(13.5, 15.0]         7
Name: roomcnt, dtype: int64

(6.992, 6.994]     0
(6.994, 6.996]     0
(6.996, 6.997]     0
(6.997, 6.999]     0
(6.999, 7.0]      47
(7.0, 7.001]       0
(7.001, 7.003]     0
(7.003, 7.004]     0
(7.004, 7.006]     0
(7.006, 7.007]     0
Name: storytypeid, dtype: int64

(0.993, 1.6]    6645
(1.6, 2.2]        70
(2.2, 2.8]         0
(2.8, 3.4]         8
(3.4, 4.0]         0
(4.0, 4.6]         0
(4.6, 5.2]         0
(5.2, 5.8]         0
(5.8, 6.4]         0
(6.4, 7.0]         1
Name: threequarterbathnbr, dtype: int64

(3.9970000000000003, 4.2]     1
(4.2, 4.4]                    0
(4.4, 4.6]                    0
(4.6, 4.8]                    0
(4.8, 5.0]                    0
(5.0, 5.2]                    0
(5.2, 5.4]                    0
(5.4, 5.6]                    0
(5.6, 5.8]                    0
(5.8, 6.0]                   75
Name: typeconstructiontypeid, dtype: int64

(0.997, 1.2]    33817
(1.2, 1.4]          0
(1.4, 1.6]          0
(1.6, 1.8]          0
(1.8, 2.0]         29
(2.0, 2.2]          0
(2.2, 2.4]          0
(2.4, 2.6]          0
(2.6, 2.8]          0
(2.8, 3.0]          1
Name: unitcnt, dtype: int64

(7.819, 329.0]      1219
(329.0, 647.0]       571
(647.0, 965.0]        95
(965.0, 1283.0]       35
(1283.0, 1601.0]       9
(1601.0, 1919.0]       1
(1919.0, 2237.0]       2
(2237.0, 2555.0]       2
(2555.0, 2873.0]       1
(2873.0, 3191.0]       2
Name: yardbuildingsqft17, dtype: int64

(11.143, 97.6]    19
(97.6, 183.2]     13
(183.2, 268.8]    10
(268.8, 354.4]     7
(354.4, 440.0]     4
(440.0, 525.6]     6
(525.6, 611.2]     1
(611.2, 696.8]     1
(696.8, 782.4]     1
(782.4, 868.0]     1
Name: yardbuildingsqft26, dtype: int64

(1877.861, 1891.8]       22
(1891.8, 1905.6]        169
(1905.6, 1919.4]       1034
(1919.4, 1933.2]       4095
(1933.2, 1947.0]       4905
(1947.0, 1960.8]      15935
(1960.8, 1974.6]      10229
(1974.6, 1988.4]       6949
(1988.4, 2002.2]       5925
(2002.2, 2016.0]       3062
Name: yearbuilt, dtype: int64

(0.994, 1.5]    8890
(1.5, 2.0]      5318
(2.0, 2.5]         0
(2.5, 3.0]       352
(3.0, 3.5]         0
(3.5, 4.0]         0
(4.0, 4.5]         0
(4.5, 5.0]         0
(5.0, 5.5]         0
(5.5, 6.0]         1
Name: numberofstories, dtype: int64

(0.9989, 0.9992]     0
(0.9992, 0.9994]     0
(0.9994, 0.9996]     0
(0.9996, 0.9998]     0
(0.9998, 1.0]       81
(1.0, 1.0002]        0
(1.0002, 1.0004]     0
(1.0004, 1.0006]     0
(1.0006, 1.0008]     0
(1.0008, 1.001]      0
Name: fireplaceflag, dtype: int64

(-9035.773000000001, 916606.2]    51421
(916606.2, 1833083.4]               770
(1833083.4, 2749560.6]              105
(2749560.6, 3666037.8]               38
(3666037.8, 4582515.0]                8
(4582515.0, 5498992.2]                7
(5498992.2, 6415469.4]                2
(6415469.4, 7331946.6]                1
(7331946.6, 8248423.8]                4
(8248423.8, 9164901.0]                1
Name: structuretaxvaluedollarcnt, dtype: int64

(-48060.236999999994, 4907023.6]    52230
(4907023.6, 9813047.2]                173
(9813047.2, 14719070.8]                23
(14719070.8, 19625094.4]                8
(19625094.4, 24531118.0]                4
(24531118.0, 29437141.6]                1
(29437141.6, 34343165.2]                0
(34343165.2, 39249188.8]                0
(39249188.8, 44155212.4]                0
(44155212.4, 49061236.0]                1
Name: taxvaluedollarcnt, dtype: int64

(2013.983, 2014.387]        0
(2014.387, 2014.79]         0
(2014.79, 2015.194]         0
(2015.194, 2015.597]        0
(2015.597, 2016.0]      52441
(2016.0, 2016.403]          0
(2016.403, 2016.806]        0
(2016.806, 2017.21]         0
(2017.21, 2017.613]         0
(2017.613, 2018.016]        0
Name: assessmentyear, dtype: int64

(-48791.03799999999, 4895364.7]    52334
(4895364.7, 9790568.4]                86
(9790568.4, 14685772.1]               13
(14685772.1, 19580975.8]               5
(19580975.8, 24476179.5]               1
(24476179.5, 29371383.2]               0
(29371383.2, 34266586.9]               0
(34266586.9, 39161790.6]               0
(39161790.6, 44056994.3]               0
(44056994.3, 48952198.0]               1
Name: landtaxvaluedollarcnt, dtype: int64

(-537.411, 58708.192]       52238
(58708.192, 117367.204]       166
(117367.204, 176026.216]       19
(176026.216, 234685.228]        9
(234685.228, 293344.24]         4
(293344.24, 352003.252]         0
(352003.252, 410662.264]        0
(410662.264, 469321.276]        0
(469321.276, 527980.288]        0
(527980.288, 586639.3]          1
Name: taxamount, dtype: int64

Y    2079
Name: taxdelinquencyflag, dtype: int64

(3.904, 13.5]     387
(13.5, 23.0]     1691
(23.0, 32.5]        0
(32.5, 42.0]        0
(42.0, 51.5]        0
(51.5, 61.0]        0
(61.0, 70.5]        0
(70.5, 80.0]        0
(80.0, 89.5]        0
(89.5, 99.0]        1
Name: taxdelinquencyyear, dtype: int64

(59948352007016.984, 102636920499301.5]    52317
(102636920499301.5, 144902829897603.0]         0
(144902829897603.0, 187168739295904.5]         0
(187168739295904.5, 229434648694206.03]        0
(229434648694206.03, 271700558092507.5]        0
(271700558092507.5, 313966467490809.0]         0
(313966467490809.0, 356232376889110.5]         0
(356232376889110.5, 398498286287411.94]        0
(398498286287411.94, 440764195685713.5]        0
(440764195685713.5, 483030105084015.0]         1
Name: censustractandblock, dtype: int64

(-4.666, -3.664]        2
(-3.664, -2.672]        0
(-2.672, -1.68]        26
(-1.68, -0.688]       109
(-0.688, 0.304]     50948
(0.304, 1.296]       1221
(1.296, 2.287]         76
(2.287, 3.279]         57
(3.279, 4.271]          1
(4.271, 5.263]          1
Name: logerror, dtype: int64

2017-06-30    810
2017-04-28    617
2017-05-31    566
2017-07-28    546
2017-08-31    528
             ...
2017-05-07      1
2017-05-13      1
2017-05-20      1
2017-06-11      1
2017-09-25      1
Name: transactiondate, Length: 257, dtype: int64

=====================================================
nulls in dataframe by column:
                              num_rows_missing  percent_rows_missing
finishedsquarefeet15                     52441                100.00
buildingclasstypeid                      52441                100.00
finishedsquarefeet13                     52441                100.00
storytypeid                              52394                 99.91
basementsqft                             52394                 99.91
yardbuildingsqft26                       52378                 99.88
architecturalstyletypeid                 52371                 99.87
typeconstructiontypeid                   52365                 99.86
fireplaceflag                            52360                 99.85
finishedsquarefeet6                      52276                 99.69
decktypeid                               52052                 99.26
pooltypeid10                             51997                 99.15
poolsizesum                              51574                 98.35
pooltypeid2                              51370                 97.96
hashottuborspa                           50926                 97.11
yardbuildingsqft17                       50504                 96.31
taxdelinquencyyear                       50362                 96.04
taxdelinquencyflag                       50362                 96.04
finishedfloor1squarefeet                 48060                 91.65
finishedsquarefeet50                     48060                 91.65
threequarterbathnbr                      45717                 87.18
fireplacecnt                             45198                 86.19
pooltypeid7                              42432                 80.91
poolcnt                                  41345                 78.84
airconditioningtypeid                    38803                 73.99
numberofstories                          37880                 72.23
garagecarcnt                             34426                 65.65
garagetotalsqft                          34426                 65.65
regionidneighborhood                     33408                 63.71
buildingqualitytypeid                    18701                 35.66
unitcnt                                  18594                 35.46
propertyzoningdesc                       18593                 35.46
heatingorsystemtypeid                    18506                 35.29
regionidcity                              1037                  1.98
lotsizesquarefeet                          369                  0.70
finishedsquarefeet12                       247                  0.47
fullbathcnt                                137                  0.26
calculatedbathnbr                          137                  0.26
censustractandblock                        123                  0.23
yearbuilt                                  116                  0.22
structuretaxvaluedollarcnt                  84                  0.16
calculatedfinishedsquarefeet                82                  0.16
regionidzip                                 26                  0.05
taxamount                                    4                  0.01
taxvaluedollarcnt                            1                  0.00
landtaxvaluedollarcnt                        1                  0.00
logerror                                     0                  0.00
assessmentyear                               0                  0.00
parcelid                                     0                  0.00
roomcnt                                      0                  0.00
regionidcounty                               0                  0.00
rawcensustractandblock                       0                  0.00
propertylandusetypeid                        0                  0.00
propertycountylandusecode                    0                  0.00
longitude                                    0                  0.00
latitude                                     0                  0.00
fips                                         0                  0.00
bedroomcnt                                   0                  0.00
bathroomcnt                                  0                  0.00
transactiondate                              0                  0.00
=====================================================
nulls in dataframe by row:
       num_cols_missing  percent_cols_missing
28116                42                 70.00
9001                 42                 70.00
41468                41                 68.33
13429                40                 66.67
48597                39                 65.00
...                 ...                   ...
42219                20                 33.33
21757                20                 33.33
20841                20                 33.33
10432                19                 31.67
12733                19                 31.67

[52441 rows x 2 columns]
=====================================================

In [46]:
#remove columns
def remove_columns(df, cols_to_remove):
    df = df.drop(columns = cols_to_remove)
    return df

In [47]:
#handle missing values
def handle_missing_values(df, prop_required_columns =0.5, prop_required_row=0.75):
    threshold = int(round(prop_required_columns * len(df.index), 0))
    #axis 1 : drop columns that have missing values
    df = df.dropna(axis=1, thresh=threshold)
    threshold = int(round(prop_required_row * len(df.columns),0))
    #axis 0 : drop rows that have missing values
    df = df.dropna(axis=1, thresh=threshold)
    return df

In [48]:
# combining everything in a cleaning function:
def data_prep(df, cols_to_remove=[], prop_required_column=0.5, prop_required_row=0.75):
    df = remove_columns(df, cols_to_remove)
    df = handle_missing_values(df, prop_required_column, prop_required_row)
    return df

In [49]:
df = data_prep(df)

In [50]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 52441 entries, 0 to 52440
Data columns (total 31 columns):
 #   Column                        Non-Null Count  Dtype
---  ------                        --------------  -----
 0   parcelid                      52441 non-null  int64
 1   bathroomcnt                   52441 non-null  float64
 2   bedroomcnt                    52441 non-null  float64
 3   buildingqualitytypeid         33740 non-null  float64
 4   calculatedbathnbr             52304 non-null  float64
 5   calculatedfinishedsquarefeet  52359 non-null  float64
 6   finishedsquarefeet12          52194 non-null  float64
 7   fips                          52441 non-null  float64
 8   fullbathcnt                   52304 non-null  float64
 9   heatingorsystemtypeid         33935 non-null  float64
 10  latitude                      52441 non-null  float64
 11  longitude                     52441 non-null  float64
 12  lotsizesquarefeet             52072 non-null  float64
 13  propertycountylandusecode     52441 non-null  object
 14  propertylandusetypeid         52441 non-null  float64
 15  propertyzoningdesc            33848 non-null  object
 16  rawcensustractandblock        52441 non-null  float64
 17  regionidcity                  51404 non-null  float64
 18  regionidcounty                52441 non-null  float64
 19  regionidzip                   52415 non-null  float64
 20  roomcnt                       52441 non-null  float64
 21  unitcnt                       33847 non-null  float64
 22  yearbuilt                     52325 non-null  float64
 23  structuretaxvaluedollarcnt    52357 non-null  float64
 24  taxvaluedollarcnt             52440 non-null  float64
 25  assessmentyear                52441 non-null  float64
 26  landtaxvaluedollarcnt         52440 non-null  float64
 27  taxamount                     52437 non-null  float64
 28  censustractandblock           52318 non-null  float64
 29  logerror                      52441 non-null  float64
 30  transactiondate               52441 non-null  object
dtypes: float64(27), int64(1), object(3)
memory usage: 12.4+ MB